
<table class="table table-striped">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>ACTION</th>
            <th>Audit History</th>
            <th>Time</th>
        </tr>
     </thead>
     <tbody>
        <tr *ngFor="let dataItem of List | paginate: { itemsPerPage: 5, currentPage: page , totalItems:totalLength }  ">
            <td>{{dataItem.EmployeeId}}</td>
            <td>{{dataItem.ACTION}}</td>
            <td>{{dataItem.Audit_history}}</td>
            <td>{{dataItem.TimeStatus}}</td>
        </tr>
     </tbody>

</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>



