<div class="d-flex flex-row bd-highlight mb-3" >
    <th style="padding-right: 0.3cm;  padding-top: 0.1cm;" >Select Time Range</th>
    <input type="date"  [(ngModel)]="Date1">    
    <th style="padding-left: 0.5cm; padding-right: 0.5cm; padding-top: 0.1cm;">AND</th>
    <input type="date"  [(ngModel)]="Date2">
    <button (click)="ShowDatawithTime()" type="button" class="btn btn-light" style="margin-left: 0.3in; margin-top: 0.1cm;" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>
    </button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>              
            EmployeeId</th>
            <th>
               
                ACTION</th>
            <th>Audit History</th>
            <th>Time</th>
        </tr>
     </thead>
     <tbody>      
        <tr *ngFor="let dataItem of List | paginate: { itemsPerPage: 5, currentPage: page , totalItems:totalLength }  ">
            <td>{{dataItem.EmployeeId}}</td>
            <td>{{dataItem.ACTION}}</td>
            <td>{{dataItem.Audit_history}}</td>
            <td>{{dataItem.TimeStatus}}</td>
        </tr>
     </tbody>

</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>



